.contact_container{
    h1{
        color: $accent-color;
    }

    .contact_infor{
        padding: 1em 0;
        @include grid(2);

        .contact_content{
            @include flex_center;
            flex-direction: column; 
            justify-content: center;

            .contact_item{
                font-size: 1.2em;
                @include flex_center;
                justify-content: start;
                gap: 0.9em;          
                margin-bottom: 10px; 
                padding: 0.3em 0;
            }
        }
        
        .contact_form {
            padding: 1.1em;
            background-color:#edededcc; 
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

            input,
            textarea {
                width: 100%;
                padding: 12px 15px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 6px;
                font-size: 1rem;
                font-family: inherit;
                transition: border 0.3s, box-shadow 0.3s;

                &:focus {
                    border-color: $secondary-color; 
                    box-shadow: 0 0 5px $secondary-color;
                    outline: none;
                }
            }

            button {
                background-color: #25D366; 
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                padding: 12px;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;

                &:hover {
                background-color: darken(#25D366, 10%);
                transform: translateY(-2px);
                }

                &:active {
                transform: translateY(1px);
                }
            }
        }
    }
}

@media screen and (width <=726px) {
    .contact_container{
        padding: 1.2em 5%;
    }
}