.details_content{
    .title{
        text-align: center;
        font-size: 2.5em;
        color: $accent-color;
        font-weight: bold;
        text-decoration: underline;
    }

    .img{
            // @include flex_center;
            padding: 0.8em 0;

        img{
            width:35%;
            height: 55vh;
            border-radius: 12px;
        }
    }

    h3,h4{
        padding: 0.4em 0;

        span{
            color: $accent-color;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    ul,p{
        font-size: 1.1em;
        padding: 0.1em 0;
    }

    a{
        display: inline-block;
        @include anchor;
        background: $accent-color;
        padding: 0.5em 1em;
        margin-top: 1.2em;
        border-radius: 8px;

    }

}


@media screen and (width <=726px) {
    .details_content{
        padding: 0 5%;
        @include flex_center;
        flex-direction: column;

        .img{
            img{
                width: 100%;
                height: 40vh;
            }
        }

        
    }
}