.recipe_container{
    font-size: 1.1em;

    .title{
        color:$accent-color;
        text-align:  center;
        font-size: 1.4em;
        padding-bottom: 0.5em;
    }

    .search_content{
        @include flex_center;
        padding: 1em 0;
        
        input{
            padding: 0.6em 5em;
            border: none;
            border-radius: 8px;
            font-size: 1em;
            width: 45%;
        }
    }


    .category{
        @include flex_center;
        justify-content: unset;
        padding: 1.3em 0;
        gap: 0.5em;

        button{
            border: none;
            border-radius: 4px;
            padding: 0.3em 1em;
        }
    }

    .recipe_content{
        @include grid(5);

        .recipe{
            box-shadow: 1px 2px 2px $secondary-color;
            padding: 0.5em;
            border-radius: 8px;
            @include flex_center;
            flex-direction: column;
            justify-content: unset;


            .recipe_items{
                @include flex_center;
                justify-content: space-between;
                gap: 1.5em;
                padding: 0.5em 0;

                button{
                    border: none;
                    font-size: 1.1em;
                    background: none;
                    border: none;
                    color: red;
                    cursor: pointer;

                }
            }
        }

        h3{
            font-size: 1.2em;
        }

        img{
            width: 100%;
            height: 30vh;
            border-radius: 8px;
        }

        .details-button{
            display: inline-block;
            padding: 0.2em 0.4em; 
            @include anchor;
            background-color: $accent-color;
            margin-top: 0.5em;
            border-radius: 8px;

            &:hover{
                background-color: #ff7903;
            }
        }
    }
}


@media screen and (width <=726px) {
    .recipe_container{
        .title{
            font-size: 1em;
        }

        .search_content{
            input{
                width: 85%;
            }
        }

        .category{
            flex-wrap: wrap;
            gap: 12px;

            button{
                flex: 0 0 calc(25% - 12px);
            }
        }

        .recipe_content{
            img{
                width: 85%;
                height: 40vh;
            }
        }
    }
}