$primary-color:#050609;
$secondary-color:#FFFDFD;
$accent-color:#DC136C;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: $primary-color;
    color:$secondary-color;
}

.main_container{
    padding:0 3%;
    margin:0 0 3em;
}